html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white ;
}

body{
    background: url('ariel-tutillo-pet4QuCuecU-unsplash.jpg') no-repeat center center/cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#i{
    color: rgb(209, 30, 30);
}

.logo{
    font-size: 45px;
    font-variant: small-caps;
    font-weight: lighter;
}
.nav li{
    display: inline-block;
    padding: 0 25px;
}

li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: lighter;
}

.nav li::after{
    content: '';
    display: block;
    background: rgb(23, 114, 224);
    width: 0;
    height: 2px;
    transition: 0.8s;
}
li:hover::after{
    width: 100%;
}

.social{
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
}

.social ul li{
    list-style: none;
    padding: 20px;
}

.side{
    position: absolute ;
    top: 50%;
    transform: translateY(-50%);
    right: -7rem;
    transform: rotate(90deg);
    letter-spacing: 6px;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header h2{
    font-size: 35px;
    letter-spacing: 2px;
}

.btn{
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.224);
    color: bisque;
    border-color: beige;
}

